.Application {
  text-align: center;
  align-items: center;
  position: center;
}

.CharCardImage {
  filter: invert(100%);
}

.CharCardImage:hover {
  filter: none;
}

.dragonimg {
  fill: black;
}

.charcard {
  border: 1px solid;
  border-color: rgb(105, 2, 16);
  border-radius: 20px;
  width: 100%;
  background-image: url("https://img.freepik.com/free-photo/antique-wood-texture_23-2147625982.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  color: rgb(228, 153, 13);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
    0px -1px 0px rgba(0, 0, 0, 0.7);
}

.cardtitle {
  font-size: 30px;
  text-decoration: underline;
}
.cardtitle2 {
  font-size: 15px;
  text-decoration: underline;
}

body {
  background-color: black;
  background-position: center center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-image: url("https://cdn.kapwing.com/final_6109c68a19dbab004db74580_394873.gif");
  background-size: 100% 100%;
  text-transform: uppercase;
  font-family: "HalfElven";
  font-size: 25px;
  color: rgb(105, 2, 16);
  /* overflow: hidden; */
  align-items: center;
  position: center;
}

code {
  font-family: "HalfElven";
}

#root {
  margin: auto;
  width: 50%;
  /* position: center; */
  padding: 20px;
  border: 1px transparent;
  border-radius: 30px;
  /* border-bottom: 360%; */
  background-image: url("https://cutewallpaper.org/21/ancient-paper-wallpapers/Best-53-Parchment-Wallpaper-on-HipWallpaper-Old-West-.jpg");
  background-repeat: no-repeat;
  background-size: 100% 1020px;
  padding-bottom: 45%;
  margin-top: 5%;
  margin-bottom: 15%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: center;
}

.App {
  flex: 1;
  text-align: center;
  position: center;
  background-color: transparent;
  align-items: center;
  position: center;
}

#rooted {
  font-family: "HalfElven";
  text-transform: uppercase;
  font-size: 50px;
  color: rgb(105, 2, 16);
}

.Header {
  flex: 1;
  color: rgb(105, 2, 16);
  margin: 2px;
  background-image: transparent;
  position: center;
  align-items: center;
}

.ccnavlink:hover {
  text-transform: uppercase;
  background-image: url("https://cdn.kapwing.com/final_610ae25bda8c1c00a3669be9_620137.gif");
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.charactercreator {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.inputfield {
  font-size: 20px;
  background-color: transparent;
  color: rgb(105, 2, 16);
  text-transform: uppercase;
  font-family: "HalfElven";
  border: 1px solid;
}
.input-field {
  font-size: 20px;
  background-color: transparent;
  color: rgb(105, 2, 16);
  font-family: "HalfElven";
  border: 1px solid;
}
.svgfill:hover {
  fill: url("#Gradient1");
  filter: url("#blurMe");
}
.submitbtn {
  font-size: 20px;
  background-color: transparent;
  color: rgb(105, 2, 16);
  text-transform: uppercase;
  font-family: "HalfElven";
}

.submitbtn:hover {
  color: goldenrod;
  background-image: url("https://cdn.kapwing.com/final_610ae25bda8c1c00a3669be9_620137.gif");
}
.char-collection {
  color: goldenrod;
  background-color: transparent;
  font-family: "HalfElven";
  text-transform: uppercase;
  font-size: 20px;
}
.char-collection:hover {
  color: rgb(105, 2, 16);
  background-image: url("https://cdn.kapwing.com/final_6109c68a19dbab004db74580_394873.gif");
}

a:link {
  flex: 2;
  color: rgb(105, 2, 16);
  text-transform: uppercase;
}

a:visited {
  color: rgb(102, 98, 43);
  text-transform: uppercase;
}

a:hover {
  text-transform: uppercase;
  background-image: url("https://cdn.kapwing.com/final_610a9d7a0d80ea00778bceb7_884361.gif");
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@font-face {
  font-family: "HalfElven";
  src: url("./HalfElven-gzj4.ttf");
}
