.Application {
  text-align: center;
}
.card {
  border: 1px solid;

}
body {
  /* padding: 25px;
  background-image: url("./background_image.jpeg");
  background-position: 
  background-repeat: no-repeat;
  background-size: 75em; */
  background-color: black;
  background-position: center center;
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-image: url("https://cdn.kapwing.com/final_6109c68a19dbab004db74580_394873.gif");
  background-size: 100% 100%;
  text-transform: uppercase;
  font-family: "HalfElven";
  font-size: 25px;
  color: rgb(105, 2, 16);
  /* overflow: hidden; */
}

code {
  font-family: "HalfElven";
}

#root {
  margin: auto;
  width: 50%;
  /* position: center; */
  padding: 20px;
  border: 1px transparent;
  border-radius: 30px;
  /* border-bottom: 360%; */
  background-image: url("https://cutewallpaper.org/21/ancient-paper-wallpapers/Best-53-Parchment-Wallpaper-on-HipWallpaper-Old-West-.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 45%;
  margin-top: 5%;
  margin-bottom: 15%;
  padding-left: 20px;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.App {
  flex: 1;
  text-align: center;

  background-color: transparent;
}

#rooted {
  font-family: "HalfElven";
  text-transform: uppercase;
  font-size: 50px;
  color: rgb(105, 2, 16);
}

.Header {
  flex: 1;
  color: rgb(105, 2, 16);
  margin: 2px;
  background-image: transparent;
}

a:link {
  flex: 2;
  color: rgb(105, 2, 16);
  text-transform: uppercase;
}

a:visited {
  color: rgb(102, 98, 43);
  text-transform: uppercase;
}

a:hover {
  text-transform: uppercase;
  background-image: url("");
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@font-face {
  font-family: "HalfElven";
  src: url("./HalfElven-gzj4.ttf");
}
